.Nosotros {
	margin: 20px 30px 0px 30px;
	width: 70%;
	text-align: justify;
	font-style: Normal;
	font-family: $font-family_1;
	font-size: 1rem;
	color: $color_2;
}
.valores {
	@extend .Nosotros;
}
.FinGracias {
	@extend .Nosotros;
}